@use './reset' as *;
@use './cards' as *;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// переменная ширины контейнера
$container-width: 960px;

.container {
  width: $container-width;
  margin: 0 auto; // центрирование

  @media (max-width: 768px) {
    width: 100%;
  }
}
// Миксин
@mixin button-styles($background-color, $color) {
  background-color: $background-color;
  color: $color;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

// Применение миксина
.button {
  @include button-styles(#3498db, #ffffff);
}